body{
    font-size: 20px;
    background-color: #f5f5f5;
}
.login-form{
    width: 300px;
    margin: 100px auto;
    padding: 15px;
    position: relative;
    top: -377px;
    margin-bottom: 0;
}
.login-form h3{
    padding-bottom: 20px;
    color: #878787;
}
.right{
    margin-left: 150px;
}
.navbar,
.navbar-brand,
.nav-item,
.navbar-dark .navbar-brand{
    font-size: 1em;
    padding-left: 5px;
    text-indent: 5px;
    color: rgba(255,255,255,.5);
}
.nav-item:hover{
    color: rgba(255,255,255,1.0);
}
h1{
    padding: 10px;
    color: #888;
    margin-top: 10px;
}
.success-msg{
    margin-top: 50px;
}

.item-box{
    position: relative;
}
.item-box .price-tag{
    position: absolute;
    padding: 5px;
    background-color: #BEBEBE;
    color: #FFFFFF;
    left: 0px;
    top: 10px;
}
/* start login page*/
.upper-bar{
    position: relative;
}
.upper-bar a.logout,
.upper-bar a.profile,
.upper-bar a.login-signup{
    position: absolute;
    right: 10px;
    top: 2px;
}

.login-page h3{
    color: #B3B3B3;
    margin-top: 25px;
    margin-bottom: 30px;
}
.login-page .selected{
    color: #1b1e21;
}
.login-page form{
    max-width: 350px;
    margin: auto;
}
.login-page form input{
    margin-bottom: 7px;
}
#login{
    cursor: pointer;
}
.right.btn{
    margin-bottom: 2px;
    margin-top: 2px;
}
/* end login page*/



/* start signup page */
.login-page .signup{
    display: none;
}
#signup{
    cursor: pointer;
}
/* end signup page */


/* start profile page */
.block:first-child{
    margin-top: 20px;
}
.block{
    margin-bottom: 20px;
}
/* end profile page */

