body{
    font-size: 20px;
    background-color: #f5f5f5;
}
.login-form{
    width: 300px;
    margin: 150px auto;
    padding: 15px;
    position: relative;
    top: -377px;
}
.right{
    margin-left: 150px;
}
.navbar,
.navbar-brand,
.nav-item,
.navbar-dark .navbar-brand{
    font-size: 1em;
    padding-left: 5px;
    text-indent: 5px;
    color: rgba(255,255,255,.5);
}
.nav-item:hover{
    color: rgba(255,255,255,1.0);
}
h1{
    padding: 10px;
    color: #888;
    margin-top: 10px;
}
.success-msg{
    margin-top: 50px;
}
.members-table{
    top: 32px;
    font-size: 17px;
}
.members-table a{
    width: 80px;
    height: 60px;
}
.link-group{
    width: 240px;
}
 .add-btn{
     margin-top: 31px;
     margin-left: 61px;
}
 /* start dashboard*/
.home-stat .stat{
    margin-top: 20px;
    color: #FFF;
}
 .st-members{
    background-color: #f0932b;
}
.st-pending{
    background-color:#eb4d4b;
}

.st-items{
    background-color:#be2edd;
}

.st-comments{
    background-color:#686de0;
}
.home-stat .stat span{
    display: block;
    padding-top: 5px;
    font-size: 60px;
    font-weight: 300;
}
.stat span a{
    color: #FFF;
}
.stat span a:hover{
    text-decoration: none;

}

/* LATEST SECTION*/
.latest{
    margin-top: 50px;
}
.panel-head{
    background-color: #d35400;
}
.panel-body{
    background-color: #f0932b;
    color: #FFF;
    letter-spacing: 3px;
    paddiing-left: 10px;
    padding-left: 20px;
    font-style: oblique;
    font-weight: 400;
    font-size: 20px;

}
.latest li{
    overflow: hidden;
    padding: 8px;
}
.latest li a{
    color: #FFF;
}
.latest li a:hover{
    text-decoration: none;
}
li:nth-child(odd){
    background-color:rgba(3,3,3,.03);
}



/*End Dashboard*/

/* Start Category Page*/

.panel-head{
    background-color: #d35400;
}
.panel-body{
    min-height: 150px;
}
.mng-cat{
    letter-spacing: 15px;
    color: #FFF;
    font-weight: bold;
    font-style: oblique;
}
.cat{
    padding-top: 5px;
}

.cat .visibility{
    background-color: #341f97;
    padding: 4px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 5px;
}
.cat .commenting{
    background-color: #576574;
    padding: 4px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 5px;
}
.cat .Ads{
    background-color: #833471;
    padding: 4px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.categories .btn-primary{
    padding: 5px;
    margin-top: 4px;
}
/* END Category Page*/
