body{
    font-size: 20px;
    background-color: #f5f5f5;
}
.login-form{
    width: 300px;
    margin: 150px auto;
    padding: 15px;
    position: relative;
    top: -377px;
}
.right{
    margin-left: 150px;
}
.navbar,
.navbar-brand,
.nav-item,
.navbar-dark .navbar-brand{
    font-size: 1em;
    padding-left: 5px;
    text-indent: 5px;
    color: rgba(255,255,255,.5);
}
.nav-item:hover{
    color: rgba(255,255,255,1.0);
}
h1{
    padding: 10px;
    color: #888;
    margin-top: 10px;
}
.members-table{
    position: relative;
    top: 32px;
    left: 10px;
}
 .add-btn{
     margin-top: 31px;
     margin-left: 61px;

}
